<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  padding: 20px;
  height: 300px; /* Should be removed. Only for demonstration */
}
</style>
<title>Aritra Chatterjee_Projects</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Check My Projects @</h2>
  
</div>

<div class="w3-bar w3-green">
  <a href="https://github.com/richie312" class="w3-bar-item w3-button">GitHub</a>
  <a href="https://richiekalpa.shinyapps.io/Model_App/" class="w3-bar-item w3-button">Nirvikalpa Projects</a>
  <a href="https://richienirvikalpa.shinyapps.io/WeatherApp/" class="w3-bar-item w3-button">Weather Application</a>

</div>

<div class="row">
    <div class="column">
    <img src="images/richie.jpeg">
     </div>
  <div class="column">
        My name is Aritra Chatterjee. I have almost close to 6 years of experience in 
        the field of Data Science and IT Development and Operatiions in the domain 
        like Optmisation Modelling,Statistical Modelling, Simulation Modelling, 
        Visualisation,Deep Learning(Computer Vision),Natural Language Processing. 
        The majority of work experience is in Data Wrangling ,visualisation, 
        application development and cloud deployment and end to end automation. 
        25% of my work is in Modelling(statistical and optimisation).
        I also have experience in IT operation (Serivce Management Analytics,ITIL) 
        which majorly involves visualisation,application development(Shiny Dashboard_R).

        I am also involved in Robotics. I have hands on experience in making robots 
        with Raspberry pi. I have made a car and it is deployed with cam module, 
        temperature sensor (shows temperature) and ultrasonic sensor in order to
        detect the objects. The robot is wirelessly controlled and its visual comes 
        from the cam deployed on the car which also helps in navigation.

        I am also involved in Budhissm studies (Psychsomatic study of practice) and 
        regularly practice vipassana in order to understand the mind and matter 
        phenomenon. I am also in troduced to the teachings of Non Duality and spent 
        significant time in order to understand the teachings.
  </div>

</div>

<div class="row" style="height:700px;width:2000px">
  <div class="column">
    <body>
      <h2 >My Resume </h2>
      <embed src="Resume.pdf" width="600px" height="550px" />
      </body>
    </div>
  <div class="columns" style="height:300px;width:500px">
     <style>
    * {box-sizing: border-box}

    .container {
      width: 100%;
      
      background-color: #ddd;
    }

    .skills {
      text-align: right;
      padding: 10px;
      color: white;
      
    }

    .WebApp {width: 90%; background-color: #4CAF50;}
    .ML {width: 80%; background-color: #2196F3;}
    .SQL {width: 40%; background-color: #E6B0AA;}
    .DL {width: 50%; background-color: #73C6B6;}
    .Modelling{width: 80%; background-color: #7DCEA0;}
    .CV{width: 60%; background-color:#73C683;}
    </style>

    </head>
    <body>

        <h2>My Skills</h2>

        <p>Web Application Development: Flask, Dash (Python) and Shiny(R)</p>
        <div class="container">
          <div class="skills WebApp">80%</div>
        </div>
        <p>Modelling: Statistical, Simulation and Optimisation Models</p>
        <div class="container">
          <div class="skills Modelling">70%</div>
          </div>
      
        <p>Machine Learning Algorithm</p>
        <div class="container">
          <div class="skills ML">70%</div>
        </div>
        <p>Cloud Infrastructure: Azure,AWS and GCP</p>
        <div class="container">
          <div class="skills CV">60%</div>
        </div>
        <p>Deep Learning: CNN(using keras; tensorflow backend)</p>
        <div class="container">
          <div class="skills DL">50%</div>
        </div>
        
        <p>Database: MySql and Postgre Sql</p>
        <div class="container">
          <div class="skills SQL">40%</div>
        </div>  

    </body>
  </div>
</div>
<div class="row">
      <div class="w3-bar w3-green">
        <h3 align="center">Robotics: Bruno (Self Driven Car; an initiative by Nirivkalpa Projects)</h3>
      </div>
    
  </div>
  <div class="row">
      <div class="column">
        <div><img src="images/bruno4.jpg" height=200 width=200></div><br>
        
        <div class="row"><img src="images/bruno3.jpg" height=200 width=200></div>
        
      </div>
      <div class="column">
      	<div class="row"><img src="images/bruno5.jpg" height=200 width=250></div><br>
      <div class="row"><img src="images/bruno6.jpg" height=200 width=250></div>
  </div>
      <div class="column">
        <body>
          <h3>Robotics</h3>
        <p>Raspberry Pi (IOT) and Robotics: Made robot(motor car) with raspberry pi. It is
            deployed with temperature sensor, ultrasonic distance sensor and raspberry pi cam
            module. This robot can move wirelessly. The program to control the robot is written
            in python. Next move is to write function in python in order to make the car self
            driven.
            The Robot has ability to detect object and tell the distance. It also shows the
            temperature and humidity data. The robot is also deployed with cam module which
            enables it to control it wirelessly. All functions are written in python.

            I am also making an application on flask to control Bruno and perform function like
            taking picture, showing the video from its front camera, temperature and distance from 
            nearest object with a simple click. This application will be hosted on AWS which will remotely 
            connect to raspberry pi in my home. Any user around the globe can control Bruno over the internet provided with credentials.

        </p>
        </body>
      </div>
      
  </div>


</html>